@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient( to top, #49a09d, #5f2c82);
    }
    #login{
        max-width: 70%;
        flex-direction: row;
        height: 300px;
    }
    #imagem{
        background: #5f2c82 url(../imagens/Entrada\ de\ predio.jpg);
        background-size: cover;
        background-position: bottom ;  
        height: 100%;
        width: 50%;
    }
    
}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient( to top, #49a09d, #5f2c82);
    }
    #login{
        max-width: 50%;
        flex-direction: row-reverse;
        height: 300px;
    }
    #imagem{
        height: 100%;
        width: 50%;
        background-position: center center;
        background-size: cover;
    }
    #formulario h1{
        font-size: 2em;
    }
    #formulario p{
        font-size: 1.2em;
    }
}