body{
    background: blue;
    color: white;
    font: normal 15pt Arial;
    margin: 0;
    padding: 0;
}
header{
    color: white;
    text-align: center;
    padding: 20px 0px
}
div{
    color: black;
}
section{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    width: 90%;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452) ;
    max-width: 500px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
footer{
    font: italic;
    text-align: center;
    padding: 20px 0px;
}