*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: 100vh;
    justify-content: center;
    background-color: #f0f4f8;
    
   
}
#corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
#base{
    width: 90%;
    max-width: 280px;
    min-width: 240px;
    height: auto;
    border: 1px solid black;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #f8f9fa;
}
.btn{
    
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #dfe6ed;
    color: #000000;
}
.btn:hover{
    background-color: #cbd9e5;
}
.botoes{
    width: 100%;
    padding: 5px;
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    
    
}
.operador{
    background-color: #a3c4dc;
}
#igual{
    background-color: #5c91bc;
}
#igual:hover{
    background-color: #cbd9e5;
}
#visor{
    margin-top: 35px;
    padding: 10px;
    
    
   
}
#visor p{
    width: 100%;
    height: 50px;
    text-align: right;
    padding-top: 15px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding-right: 10px;
    background-color: #e6ecf0;
    color: #333333;
    
}
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    text-decoration: underline;
}
footer{
    margin-top: 80px;
}


